table {
    background-color: white !important;
    border-collapse: collapse;
    width: 100%;
    padding: 0px;
}

.table th {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding: 0px 0px 0px 5px !important;
    margin: 0px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-weight: 600;
    background-color: #EAEAEA;
}

.table td {
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    padding: 0px 20px 0px 5px !important;
    margin: 0px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-weight: 400;
}

.tr_bg_cl {
    background-color: #F1F1F1;
}

.adv_forms_tr {
    background-color: #555555 !important;
    height: 175px !important;
}

.ser_hist_rec_each {
    cursor: pointer;
}

.my-custom-scrollbar {
    position: relative;
    min-height: 250px;
    max-height: 350px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.tableFixHead {
    overflow: auto;
}

.tableFixHead thead th {
    position: sticky;
    top: -1px;
    z-index: 1;
}

.bg-color {
    background-color: #D9D9D9;
}


/* .btn_style {
    color: white;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: .75em !important;
    padding: 2px 20px !important;
}

.btn_style:hover {
    color: #FFFFFF;
} */

.bg_gr {
    background-color: #88CC21;
}

.bg_gr:hover {
    background-color: #a0df42;
}

.bg_bl {
    background-color: #28BBEE;
}

.bg_bl:hover {
    background-color: #22d0ff;
}

.bg_grey {
    background-color: #C4C4C4;
}

.bg_grey:hover {
    background-color: #DEDEDE;
}

.ser_inp_fields,
.ser_inp_fields_each {
    position: unset !important;
    width: 100% !important;
    /* display: none; */
    /* widows: 215px !important; */
}

#adv_ser_form td {
    padding: 0px !important;
}

.adv_ser_form_each td {
    padding: 0px !important;
}


/* dropdown styling */

.ser_inp_fields button,
.ser_inp_fields_each button {
    padding: 2px 5px 2px 5px;
    border-radius: 2px;
    font-size: 11px !important;
    font-family: 'Lato', sans-serif;
}

#ser_his_table22 td>section {
    padding: 10px 5px 10px 0px !important;
}

#ser_his_table22 td>div {
    padding: 10px 5px 10px 0px !important;
}


/* 
#ser_his_table22 td>input {
    margin: 10px 4px 10px 0px !important;
} */

.dropdown-menu li a span {
    font-family: 'Lato', sans-serif;
    font-size: 11px !important;
}

.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
    position: inherit !important;
    display: inline-block !important;
    margin-left: -15px;
    padding: 0px 5.5px 3px 4px;
    border-radius: 3px;
    margin-bottom: -2px;
    margin-right: 2px;
    font-size: 8px !important;
}

.dropdown-item {
    padding: 0px 0px 0px 22px !important;
}

.ser_inp_fields>div.dropdown-menu.show,
.ser_inp_fields_each>div.dropdown-menu.show {
    /* width: 169px !important;
    min-width: 50px !important;
    position: fixed !important;
    top: 182px !important;
    left: 782px !important; */
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    /* width: 12% !important;
    min-width: 8% !important; */
    width: 230px !important;
    min-width: 100px !important;
    /* width: 210.6px !important;
    min-width: 201px !important; */
    border-radius: 0px 0px 7px 7px !important;
    margin-top: 0px !important;
    box-shadow: 0px 3px 7px #cccccc;
    /* left: 1px !important;  */
}

.ser_inp_fields .inner,
.ser_inp_fields_each .inner {
    overflow-x: clip !important;
}

.dropdown-item span.text::before {
    border: 1px solid #cacaca;
    content: "";
    padding: 0px 7px 0px 7px;
    border-radius: 3px;
    margin: 0px 5px 0px -18px;
}

.bs-searchbox .form-control {
    padding: 1px 4px;
    font-size: 12px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: none;
}

.ser_inp_fields button:focus,
.ser_inp_fields_each button:focus {
    box-shadow: none !important;
    /* outline: none !important; */
    outline-offset: -18px !important;
}


.popover{
    width: 250px;
}

/* dropdown styling  ends*/